/.vscode
/Assembly-CSharp.csproj
/Library
/Logs
#/Packages
#/ProjectSettings
/Temp
/UnityTests.sln
/UserSettings
Build/*
credentials.txt
#/Assets/TextMesh Pro
#/Assets/Fonts
#/Assets/Physics
#/Assets/Resources
#/Assets/Sprites
#/Assets/Tiles
/old_git
.gitignore